#!/usr/bin/env bash

use flake

CONTAINERS_DIR=$HOME/.config/containers
POLICY_PATH=${CONTAINERS_DIR}/policy.json

test -f $POLICY_PATH || \
    echo "putting policy.json in ${POLICY_PATH}..." \
    && mkdir -p $CONTAINERS_DIR \
    && cp podman/policy.json $POLICY_PATH
